{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col s12 m8 offset-m2">
        <div class="card">
            <div class="card-content">
                <span class="card-title">Add Vet</span>
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">account_circle</i>
                            {{ form.name.label_tag }}
                            {{ form.name }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">business</i>
                            {{ form.clinic_name.label_tag }}
                            {{ form.clinic_name }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">person</i>
                            {{ form.preferred_doctor.label_tag }}
                            {{ form.preferred_doctor }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">phone</i>
                            {{ form.phone_number.label_tag }}
                            {{ form.phone_number }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">email</i>
                            {{ form.email.label_tag }}
                            {{ form.email }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <button type="submit" class="waves-effect waves-light btn"><i class="material-icons left">add</i>Add Vet</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<h1>Vet Search</h1>
<form action="https://maps.googleapis.com/maps/api/place/findplacefromtext/json" method="get">
    <input type="text" name="input" value="vet" style="display: none;">
    <input type="text" name="inputtype" value="textquery" style="display: none;">
    <input type="text" name="fields" value="formatted_address,name,business_status,place_id" style="display: none;">
    <input type="text" name="key" value="AIzaSyAUwpcXbJv7Jyb4_HJL7nYFVBQ7Xjv3CuA" style="display: none;">
    <button type="submit">Find Vet</button>
</form>

<h1>Vet Search2</h1>

<form action="{% url 'vet_search' %}" method="get">
    <label for="input">Search for Vets:</label>
    <input type="text" id="input" name="input" value="vet">
    <button type="submit">Find Vet</button>
</form>

<div id="results">
    {% if vet_results %}
        <h2>Results:</h2>
        <ul>
            {% for vet in vet_results %}
                <li>{{ vet.name }} - {{ vet.formatted_address }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No results found.</p>
    {% endif %}
</div>

</body>
</html>




{% endblock %}

