{% extends 'base.html' %}
{% block content %}

<h1 class="luckiest-guy-regular">Dog Food List</h1>

<div class="card-container">
    {% for food in dogfood %}
        <a href="{% url 'dogfood_detail' food.id %}" class="card-link">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">{{ food.name }}</span>
                    <p>KiloCalPerServing: {{ food.kcalperserving }}</p>
                    <p>GramPerServing: {{ food.gramperserving }}</p>
                    <p>Current Food: {{ food.current_food }}</p>
                    <p>New Food: {{ food.new_food }}</p>
                </div>
            </div>
        </a>
    {% endfor %}
</div>

<style>
    .center-cropped {
        width: 232px;
        height: 232px;
        overflow: hidden;
        position: relative;
    }

    .center-cropped img {
        width: auto;
        height: auto;
        max-width: none;
        max-height: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .permanent-marker-regular {
        font-family: 'Permanent Marker', cursive, sans-serif;
    }

    .dog-list-heading {
        text-align: center;
        margin-bottom: 30px;
    }

    .luckiest-guy-regular {
        font-family: "Luckiest Guy", cursive;
        font-weight: 400;
        font-style: normal;
        text-align: center;
        margin-bottom: 30px;
    }
</style>

{% endblock %}
