{% extends 'base.html' %}
{% block content %}

<h1>Dog Food List</h1>

<div class="card-container">
    {% for food in dogfood %}
        <a href="{% url 'dogfood_detail' food.id %}" class="card-link">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">{{ food.name }}</span>
                    <p>KiloCalPerServing: {{ food.kcalperserving }}</p>
                    <p>GramPerServing: {{ food.gramperserving }}</p>
                    <p>Current Food: {{ food.current_food }}</p>
                    <p>New Food: {{ food.new_food }}</p>
                </div>
            </div>
        </a>
    {% endfor %}
</div>

{% endblock %}
