{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MyDogPal</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{% static 'js/jquery.js%' %}"></script>
    <script src="{% static 'js/rango-jquery.js' %}"></script>
    <style>
        .dropdown-content {
            min-width: 200px;
        }

        .nav-wrapper {
            background-color: #ffa149 !important;
        }

        .dropdown-content li>a, .dropdown-content li>span {
            font-size: 16px;
            color: #fa802b;
            display: block;
            line-height: 22px;
            padding: 14px 16px;
        }

        .dropdown-content li>a:hover {
            background-color: #fa802b;
            color:white;
        }

        .nav-wrapper.a:hover {
             color: #0e81ad !important;
        }
   </style>
</head>
<body>
    <header>
        <div class="trasparentBG">
            <nav class="transparent">
                <div class="nav-wrapper">
                    <a href="/" class="brand-logo"><img src="{% static 'images/DogPalLogostrokepng.png'%}"
                            alt="logo" width="60px"></a>
                    {% if user.is_authenticated %}
                    <ul class="right hide-on-med-and-down">
                        <li><a class="dropdown-trigger" href="#!" data-target="dropdown1"><i
                                    class="material-icons left">pets</i>Dog</a></li>
                        <li><a class="dropdown-trigger" href="#!" data-target="dropdown2"><i
                                    class="material-icons left">medical_services</i>Vet</a></li>
                        <li><a class="dropdown-trigger" href="#!" data-target="dropdown3"><i
                                    class="material-icons left">lunch_dining</i>Food</a></li>
                        <li>
                            <form id="logout-form" action="{% url 'logout' %}" method="POST">
                                {% csrf_token %}
                                <a href="#" onclick="submitForm()">Log Out</a>
                            </form>
                        </li>
                    </ul>
                    <ul id="dropdown1" class="dropdown-content">
                        <li><a href="/dogs">Show All</a></li>
                        <li><a href="{% url 'dogs_create' %}">Add Dog</a></li>
                        {% for dog in dogs %}
                        <li><a href="{% url 'detail' dog.id %}">{{ dog.name }}</a></li>
                        {% endfor %}
                    </ul>
                    <ul id="dropdown2" class="dropdown-content">
                        <li><a href="{% url 'myvet_create' %}">Add Vet</a></li>
                        <li><a href="{% url 'myvet_index' %}">Vet Index</a></li>
                    </ul>
                    <ul id="dropdown3" class="dropdown-content">
                        <li><a href="{% url 'dogfood_create' %}">Add Dog Food</a></li>
                        <li><a href="{% url 'dogfood_index' %}">View Dog Food List</a></li>
                        <li><a href="{% url 'foodtrans_create' %}">Add Food Transition</a></li>
                        <li><a href="{% url 'foodtrans_index' %}">View Transition</a></li>
                    </ul>
                    {% else %}
                    <ul class="right hide-on-med-and-down">
                        <li><a href="{% url 'signup' %}">Sign Up</a></li>
                        <li><a href="{% url 'login' %}"><i class="material-icons left">login</i>Log In</a></li>
                    </ul>
                    {% endif %}
                </div>
            </nav>
        </div>

                </li>                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Vet
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                        <li><a class="dropdown-item" href="{% url 'myvet_create' %}">Add Vet</a></li>
                       <li><a class="dropdown-item" href="{% url 'myvet_index' %}">Vet Index</a></li>
                    </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Food
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li>
                      <li><a class="dropdown-item" href="{% url 'dogfood_create' %}">Add Dog Food</a></li>
                      <li><a class="dropdown-item" href="{% url 'dogfood_index' %}">View Dog Food List</a></li>
                      <li><a class="dropdown-item" href="{% url 'foodtrans_create' %}">Add Food Transition</a></li>
                      <li><a class="dropdown-item" href="{% url 'foodtrans_index' %}">View Transition</a></li>
                </li>
            </ul>
            </li>
            <li>
                <form action="{% url 'logout' %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn-link">Log Out</button>
                </form>                
            </li>
            {% else %}
            <li><a href="{% url 'signup' %}" class="btn btn-primary">Sign Up</a></li>
            <li><a href="{% url 'login' %}" class="btn btn-primary">Log In</a></li>
            {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
            function submitForm() {
                document.getElementById('logout-form').submit();
            }
    </script>

</body>
</html>
