{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="section">
<div class="container">
    <div class="row">
        <div class="col 12"></div>
        <div class="col 12"></div>
        <div class="col 12"></div>
</div>


    <div class="row">
        <div class="col s12">
            <br>
            <br>
        </div>
        <div class="col s12 m6">
            <h1 class="flow-text white-text">Welcome to MyDogPal!</h1>
            <p class="white-text">Your dog's best friend in every wag! Track meals, count zoomies, and shower your
                pup with love. Join today for a tail-wagging adventure!</p>
        </div>
        <div class="col s12 m6"></div>
        <div class="col s12 m6">
            <br>
            <br>
            <br>
            <br>
            <br>
            
            <a href="{% url 'signup' %}" class="btn-large waves-effect waves-light blue">Sign Up Now</a>
        </div>
    </div>
  </div>
</div>
<div class="section"></div>

<div class="section"><div class="section"><div class="section"></div><div class="section"><div class="section"></div>


<div class="section">
    <div class="row">
    </div>
    <div class="row">
        <div class="col s12 m4">
            <div class="card">
                <div class="card-image">
                    <img src="https://images.vetster.com/happy_dog_at_the_vet_0b600f67cb.jpg" alt="Card image">
                </div>
                <div class="card-content">
                    <span class="card-title">MyVet</span>
                    <p>Enhance your pup's health journey by integrating vital vet info into our app. From vet details to contact info, keep it all at your fingertips. Because for your furry friend's well-being, every detail counts. Let our app be your ultimate companion in caring for your dog.</p>
                </div>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card">
                <div class="card-image">
                    <img src="https://assets-au-01.kc-usercontent.com/ab37095e-a9cb-025f-8a0d-c6d89400e446/b9e13010-135e-4b56-afcf-116d6d0c0bb3/article-what-should-feed-dog-internal.jpg" alt="Card image">
                </div>
                <div class="card-content">
                    <span class="card-title">Dog Food</span>
                    <p>
                        Enhance your dog's nutrition with our app's comprehensive food details, like kcal and grams per serving. Whether tweaking their diet or meeting their needs, our app gives you precise feeding control. Because for your pup's health, every bite matters.
                    </p>
                </div>
                <div class="card-action">
                </div>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card">
                <div class="card-image">
                    <img src="https://static.showit.co/1200/e6NBP1Y1QVq1hNXKZDa3bw/shared/how-to-transition-to-raw-1.jpg" alt="Card image">
                </div>
                <div class="card-content">
                    <span class="card-title">Food Transition</span>
                    <p>Transition your dog to a new diet effortlessly with our app's food transition algorithm. Say goodbye to guesswork and hello to clarity as you track every step. Monitor serving sizes and meal frequency with precision. Let our app guide you through this important nutritional journey for your furry friend.</p>
                </div>
                <div class="card-action">
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    body {
        background-image: url('{% static 'images/mainsplash.png' %}');
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        background-attachment: fixed;
        background-position: top center;
        margin: 0;
    }

    .middle-section {
        text-align: left;
        flex: 1;
        padding: 100px;
    }

    .bottom-section {
        padding: 20px;
    }

    @media only screen and (max-width: 768px) {
        body {
            background-position: center center;
        }
    }

    .card {
        height: 100%;
    }

    .card-title,
    .card-content p {
        color: black; 
    }
</style>


   

{% endblock %}