@import url('https://fonts.googleapis.com/css2?family=Coiny&family=Comfortaa:wght@300..700&family=Lilita+One&family=Permanent+Marker&family=Quicksand:wght@300..700&display=swap'); 

body {
    margin: 0;
    padding: 0;
    background-image: none;
    background-color: #7bacba;
    font-family: 'Poppins', 'Noto Sans', 'franklin gothic Medium', Tahoma, sans-serif;
    font-weight: 600;
    color: white;
}

nav {
    background-color: transparent;
    color: white;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-family: 'Poppins', 'Noto Sans', 'franklin gothic Medium', Tahoma, sans-serif;
    font-weight: 600;
    transition: background-color .2s ease-in-out;
    font-size: 1.4rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.nav-bar {
    background-color: rgba(250, 128, 42, 0.5);
}

.other-page-nav {
    background-color: #7bacba;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-left: 20px;
}

nav ul li:first-child {
    margin-left: 0;
}

nav ul li a {
    color: #fea549;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    color: #fd832e;
    transform: scale(1.2);
}

.logo img {
    max-width: 50px;
}

.container {
    background-color: #fea046;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

main {
    padding: 0;
    margin-top: 0;
}

footer {
    background-color: #0066cc;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.card-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card-link {
    text-decoration: none;
    color: inherit;
}

.card {
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto;
    width: 300px;
    max-width: none;
    position: relative;
    text-align: center;
}


.dog-card {
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto;
    width: 400px;
    max-width: none;
    position: relative;
    text-align: center;
}



.card-content {
    font-size: 16px;
}

.card-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-actions {
    padding: 10px 20px;
    border-top: 1px solid #e0e0e0;
    display: flex;
    justify-content: space-between;
}

.btn-delete,
.btn-edit {
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
}

.btn-delete {
    background-color: #f44336;
}

.btn-edit {
    background-color: #2196F3;
}

.btn:hover {
    background-color: #0050aa;
}

.col.s6 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.dog-food-card {
    width: 200px;
    margin-bottom: 20px;
}

.dog-food-card .card-content {
    text-align: center;
}

.dog-food-card .card-actions {
    text-align: center;
}

.dog-food-card button {
    margin-top: 10px;
}

.form-container {
    margin: 20px auto;
    max-width: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
select {
    width: 200px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #0066cc;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #0050aa;
    color: white;
}

.login-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form {
    margin-top: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button.btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #f97f2a;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button.btn-primary {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button.btn-primary:hover {
    background-color: #0056b3;
    color: white;
}

.signup-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.signup-form {
    margin-top: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button.btn-primary {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button.btn-primary:hover {
    background-color: #0056b3;
    color: white;
}

.navbar {
    border-radius: 10px;
}


a:hover {
    color: white;
    text-decoration: none;
}

a.dropdown-item {
    color: white;
}

a.dropdown-item:hover {
    background-color: #0d80ac;
    color: white;
}

.dropdown-menu.show {
    background-color: #fd832e;
}

a.special-item {
    background-color: #0050aa;
    color: white;
    display: block;
}

a.special-item:hover {
    background-color: #0d80ac;
    color: white;
}


 .dog-card-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
    }

.dog-card-container .card img {
    max-width: 100%;
    height: auto;
}

.dog-card-container .card-content {
    margin-top: 10px;
}

.dog-card-container .card-title {
    font-size: 3rem;
    font-weight: bold;
}


@media only screen and (max-width: 600px) {

    .container,
    .card {
        width: 90%;
        margin: 20px auto;
    }

    .card {
        padding: 10px;
    }
}


.btn-link {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    color: white;
    text-decoration: none;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.dropdown-menu {
    min-width: 200px;
}

.side-nav {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 9999;
}

.hamburger {
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 5rem;
    padding: 10px;
    color: #f97f2a;
    position: relative;
    z-index: 10000;
}

.nav-links {
    display: none;
    list-style-type: none;
    padding: 0;
}

.nav-links a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
    background-color: #f97f2a;
}

.nav-links a:hover {
    background-color: #0050aa;
    color: white;
}

.nav-links.show {
    display: block;
}

.permanent-marker-regular{
    font-size: 3rem;
}

.calendar {
    width: 98%;
    margin: auto;
    font-size: 13px;
  }
  
  .calendar tr, .calendar td {
    border: 1px solid black;
  }
  
  .calendar th {
    padding: 10px;
    text-align: center;
    font-size: 18px;
  }
  
  .calendar td {
    width: 200px;
    height: 150px;
    padding: 20px 0px 0px 5px;
  }
  
  .month {
    font-size: 25px;
  }
  
  .date {
    font-size: 16px;
  }
  
  ul {
    height: 100%;
    padding: 0px 5px 0px 20px;
  }
  
  a {
    color: #17a2b8;
  }
