{% extends 'base.html' %}
{% block content %}

<h1>Dog Details</h1>

<div class="card">
    <div class="card-content">
        <h2 class="card-title">{{ dog.name }}</h2>
        <p><strong>Breed:</strong> {{ dog.breed }}</p>
        <p><strong>Neutered/Spayed:</strong> {% if dog.neutered_spayed %}Yes{% else %}No{% endif %}</p>
        <p><strong>Weight:</strong> {{ dog.weight }}</p>
        <p><strong>Birthdate:</strong> {{ dog.birthdate }}</p>
    </div>
    <div class="card-actions">
        <a href="{% url 'dogs_delete' dog.id %}" class="btn-delete">Delete</a>
        <a href="{% url 'dogs_update' dog.id %}" class="btn-edit">Edit</a>
    </div>
</div>

<div class="card">
    <div class="card-content">
        <h2 class="card-title">{{ dogfood.name }}</h2>
        <p><strong>KCal Per Serving</strong>{{ dogfood.kcalperserving }}</p>
        <p><strong>Grams Per Serving</strong>{{ dogfood.gramperserving }}</p>
        <p><strong>Current Food</strong>{{ dogfood.current_food }}</p>
        <p><strong>New Food</strong>{{ dogfood.new_food }}</p>
    </div>
    <div class="card-actions">
        <a href="{% url 'dogfood_delete' dogfood.id %}" class="btn-delete">Delete</a>
        <a href="{% url 'dogfood_update' dogfood.id %}" class="btn-edit">Edit</a>
    </div>
</div>

{% endblock %}
