{% extends 'base.html' %}
{% block content %}
{% load static %}

<main>
    <ul id="slide-out" class="sidenav" width="300px">
        <li>
            <div>
                <img src="{% static 'images/DogTools.png' %}" width="200px">
            </div>
        </li>
        <li><a href="#food-options-modal" class="modal-trigger"><i class="material-icons left">fastfood</i>Dog Food</a></li>
        <li><a href="#food-calculator-modal" class="modal-trigger"><i class="material-icons left">calculate</i>Calculator</a></li>
        <li><a href="#"><i class="material-icons left">sync_alt</i>Transition</a></li>
        <li><a href="#photos-modal" class="modal-trigger"><i class="material-icons left">collections</i>Gallery</a></li>
        <li><a href="#add-photos-modal"><i class="material-icons left">add_a_photo</i>Add A Photo</a></li>
        <li>
            <div class="divider"></div>
        </li>
        <li><a href="{% url 'dogs_update' dog.id %}"><i class="material-icons left">edit</i>Edit</a></li>
        <li><a href="{% url 'dogs_delete' dog.id %}"><i class="material-icons left">delete_forever</i>Delete</a></li>
    </ul>
    <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="medium material-icons">menu</i></a>

    <div class="container">
        <div class="masonry row" style="position: relative; height: 2140.9;">
            <div class="col s12">
                <div class="dog-card">
                    <div class="card-content">
                        <div class="row">
                            <div class="col s12 m6">
                                <div class="center-cropped">
                                    {% if dog.img_url %}
                                        <img src="{{ dog.img_url }}" alt="{{ dog.name }}">
                                    {% else %}
                                        <img src="https://i.imgur.com/DMskkHv.png" alt="No Photo" class="profile-image">
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col s12 m6">
                                <span class="permanent-marker-regular card-title">{{ dog.name }}</span>
                                <p><strong>Breed:</strong> {{ dog.breed }}</p>
                                <p><strong>Neutered/Spayed:</strong> {% if dog.neutered_spayed %}Yes{% else %}No{% endif %}</p>
                                <p><strong>Weight:</strong> {{ dog.weight }}</p>
                                <p><strong>Birthdate:</strong> {{ dog.birthdate }}</p>
                                {% if ideal_weight != None or activity != None or servingspercup != None %}
                                <div class="calculator-container"></div>
                                    <p><strong>Ideal Weight: </strong>{{ ideal_weight }}</p>
                                    <p><strong>Activity Level: </strong>{{ activity }} kcal/lbs</p>
                                    <p><strong>Servings Per Cup: </strong>{{ servingspercup }} Servings</p>
                                    <p><strong>Amount of Calories Needed Per Day: </strong>{{ kcal_per_day }} Calories</p>
                                <div>
                                {% endif %}
                                    {% if dog.dogfood.count %}
                                        {% for food in dog.dogfood.all %}
                                            <p><strong>Current Food: </strong>{{ food.name }}</p>
                                            <p><strong>Caloric Content: </strong>{{ food.gramperserving }} kcal/kg, {{ food.kcalperserving }} kcal/cup</p>
                                        {% endfor %}
                                    {% else %}
                                        <h5>No Dogfood</h5>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="food-options-modal" class="modal">
        <div class="modal-content">
            <h3>Dog Food Options</h3>
            <div>
                
                <table class="highlight">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>kcal per serving (kg)</th>
                            <th>kcal per serving (cup)</th>
                            <th>Current Food</th>
                            <th>New Food</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if dogfood.count %}
                        {% for food in dog.dogfood.all %}
                        <p><strong>Current Food: </strong>{{ food.name }}</p>
                                <p><strong>Caloric Content: </strong>{{ food.gramperserving }} kcal/kg, {{ food.kcalperserving }} kcal/cup</p>
                                <form action="{% url 'unassoc_dogfood' dog.id food.id %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn">Remove</button>
                                </form>
                        {% endfor %}
                        {% for food in dogfood %}
                        <tr>
                            <td>{{ food.name }}</td>
                            <td>{{ food.kcalperserving }}</td>
                            <td>{{ food.gramperserving }}</td>
                            <td>{{ food.current_food }}</td>
                            <td>{{ food.new_food }}</td>
                            <td>
                                <form action="{% url 'assoc_dogfood' dog.id food.id %}" method="POST">
                                    {% csrf_token %}
                                    <button type="submit" class="orange">Add</button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        <tr>
                            <td colspan="6">No available dog food found</td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-orange btn-flat">Close</a>
        </div>
    </div>
            
    <div id="food-calculator-modal" class="modal">
        <div class="modal-content">
            <h3>Dog Food Calculator</h3>
            <div class="card-content">
                <form action="{% url 'detail' dog.id %}" method="POST">
                    {% csrf_token %}
                    <label for="ideal-weight">Ideal Weight: </label>
                    <input type="number" id="ideal-weight" name="ideal-weight">
                    <label for="activity-level">Activitiy Level: </label>
                    <div class="input-field col s12">
                        <select id="activity" name="activity">
                            <option value="60.82">Typical</option>
                            <option value="69.18">Active</option>
                            <option value="38.77">Overweight</option>
                            <option value="96.92">High Activity</option>
                            <option value="49.79">Senior</option>
                            <option value="49.79">Inactive</option>
                            <option value="77.36">Light Duty</option>
                            <option value="89.99">Medium Duty</option>
                            <option value="117.63">High Duty</option>
                        </select>
                        </div>
                    <label for="servingspercup">Servings Per Cup: </label>
                    <input type="number" min="1" max="5" id="servingspercup" name="servingspercup">
                    <button type="submit" id="calculate" onclick="Calculate(e)">Calculate</button>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-orange btn-flat">Close</a>
        </div>
    </div>

    <div id="photos-modal" class="modal">
        <div class="modal-content">
            <h3>{{ dog.name }}'s Photo Gallery</h3>
            <div class="card-content">
                {% for photo in dog.photo_set.all %}
                <div class="card">
                    <div class="card-image">
                        <img src="{{photo.url}}" alt="Dog Photo" width="100px"> 
                        <span class="card-title">{{ photo.title }}</span>
                    </div>
                </div>
                {% empty %}
                <div class="col s12">
                    <p>No photos uploaded</p>
                </div>
                {% endfor %}
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-orange btn-flat">Close</a>
            </div>
        </div>
    </div>

    <div id="add-photos-modal" class="section" style="display: none;">
        <div class="card">
            <h3>Add Photos</h3>
            <form action="{% url 'add_photo' dog.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
                {% csrf_token %}
                <input type="file" name="photo-file">
                <br><br>
                <button type="submit" class="btn">Upload Photo</button>
            </form>
        </div>
    </div>
</main>



<style>
    .center-cropped {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    float: left;
    margin-right: 20px; /* Adjust as needed */
}


    .center-cropped img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border: 4px solid #f97f2a;
    }

    .permanent-marker-regular {
        font-family: 'Permanent Marker', cursive, sans-serif;
    }

    .sidenav li a:hover {
        background-color: #f97f2a;
        color: white !important;
    }
</style>

<script>


    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems);
    });

    document.addEventListener('DOMContentLoaded', function () {
        const modals = document.querySelectorAll('.modal');
        M.Modal.init(modals, {
            opacity: 0.5,
            dismissible: false
        });

        const elems = document.querySelectorAll('.sidenav');
        const instances = M.Sidenav.init(elems, {
            edge: 'left',
            draggable: false 
        });
    });

    console.log("Before the eventlistener");
    // document.getElementById('calculate').addEventListener.onsubmit = 
    function Calculate(e) {
        e.preventDefault();
        console.log("This is working");
        // const dogContents = document.getElementById('calculator-container');
        const idealWeight = document.getElementById('ideal-weight').value;
        const activity = document.getElementById('activity').value;
        const servingspercup = document.getElementById('servingspercup').value;

        const weightP = document.getElementById('ideal-weight p');
        weightP.innerText = "Ideal Weight: " + idealWeight;

        const activityP = document.getElementById('activity p');
        activityP.innerText = "Activity Level: " + activity;

        const servingspercupP = document.getElementById('servingspercup p');
        servingspercupP.innerText = "Servings Per Cup: " + servingspercup;
    }
</script>




{% endblock %}