{% extends 'base.html' %}
{% block content %}

<h1>{{ dog.name }}'s Portal</h1>

<div class="card">
    <div class="card-content">
        <h2 class="card-title">{{ dog.name }}</h2>
        <p><strong>Breed:</strong> {{ dog.breed }}</p>
        <p><strong>Neutered/Spayed:</strong> {% if dog.neutered_spayed %}Yes{% else %}No{% endif %}</p>
        <p><strong>Weight:</strong> {{ dog.weight }}</p>
        <p><strong>Birthdate:</strong> {{ dog.birthdate }}</p>
        {% for calculator in dog.dogcalculator_set.all %}
        <p><strong>{{ calculator.weight }}</strong></p>
        {% endfor %}
    </div>
    <div class="card-actions">
        <a href="{% url 'dogs_delete' dog.id %}" class="btn-delete">Delete</a>
        <a href="{% url 'dogs_update' dog.id %}" class="btn-edit">Edit</a>
    </div>
    <hr>
    {% for photo in dog.photo_set.all %}
    <img class="responsive-img card-panel" src="{{photo.url}}" alt="Dog Photo">
{% empty %}
    <div class="card-panel teal-text center-align">No Photos Uploaded</div>
{% endfor %}

<!-- new code below -->
<form action="{% url 'add_photo' dog.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
    {% csrf_token %}
    <input type="file" name="photo-file">
    <br><br>
    <button type="submit" class="btn">Upload Photo</button>
</form>
    <hr>
        <h3>Food</h3>
        {% if dog.dogfood.count %}
            {% for food in dog.dogfood.all %}
                    <p><strong>{{ food.name }}</strong></p>
                    <p><strong>Caloric Content</strong></p>
                    <p>{{ food.gramperserving }} kcal/kg, {{ food.kcalperserving }} kcal/cup</p>
                    <p><strong>{{ food.current_food }}</strong></p>
                    <p><strong>{{ food.new_food }}</strong></p>
                    <form action="{% url 'unassoc_dogfood' dog.id food.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn">Remove</button>
                    </form>
            {% endfor %}
        {% else %}
          <h5>No Dogfood</h5>
        {% endif %}
<hr>

<div class="col s6">
  <h3>Dog Food Options</h3>
        {% if dogfood.count %}
            {% for food in dogfood %}
                <div class="card">
                    <div class="card-content">
                    <span class="card-title">
                        <p><strong>{{ food.name }}</strong></p>
                        <p><strong>{{ food.kcalperserving }}</strong></p>
                        <p><strong>{{ food.gramperserving }}</strong></p>
                        <p><strong>{{ food.current_food }}</strong></p>
                        <p><strong>{{ food.new_food }}</strong></p>
                    </span>
                    <div class="card-content">
                        <form action="{% url 'assoc_dogfood' dog.id food.id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn">Add</button>
                        </form>
                    </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>No available dogfood found</p>
        {% endif %}

    
    </div>
</div>
<div class="card">
    <div class="card-content">
        <h2 class="card-title">Dog Food Calculator</h2>
        <form action="{% url 'dogcalculator_create' dog.id %}" method="POST">
            {% csrf_token %}
            {{ dogcalculator_form.as_p }}
            <input type="submit" value="Calculate" class="btn">
        </form>
    </div>
</div>

{% endblock %}
