{% extends 'base.html' %}
{% block content %}
{% load static %}

<h1>Dog Food Transition Plan</h1>

<div class="card" >
    <div class="card-content">
        <span class="card-title permanent-marker-regular">Name: {{ foodtrans.name }}</span>
        <p><strong>Current Food: {{ foodtrans.current_food }}</strong></p>
        <p><strong>New Food: {{ foodtrans.new_food }}</strong></p>
        <p><strong>Meals Per Day: {{ foodtrans.meals_a_day }}</strong></p>
        <p><strong>Start Date: {{ foodtrans.start_date }}</strong></p>
    </div>
    <div class="card-actions">
        <a href="{% url 'foodtrans_delete' foodtrans.id %}" class="btn-delete">Delete</a>
        <a href="{% url 'foodtrans_update' foodtrans.id %}" class="btn-edit">Edit</a>
    </div>
</div>
<div class="card">
    <div class="card-content" id="foodtransition-card">
        <h2 class="card-title">Food Transition</h2>
        <div class="foodtransition-imgs">
            <table>
                <tr>
                    <td><img src="{% static 'images/days1-3.jpg' %}"></td>
                    <td><img src="{% static 'images/days4-6.jpg' %}"></td>
                    <td><img src="{% static 'images/days7-9.jpg' %}"></td>
                    <td><img src="{% static 'images/day10.jpg' %}"></td>
                </tr>
                <tr>
                    <td><p>New Food: {{ foodtrans.current_food }} 25%</p><p>Current Food: {{ foodtrans.new_food }} 75%</p></td>
                    <td><p>New Food: {{ foodtrans.current_food }} 50%</p><p>Current Food: {{ foodtrans.new_food }} 50%</p></td>
                    <td><p>New Food: {{ foodtrans.current_food }} 75%</p><p>Current Food: {{ foodtrans.new_food }} 25%</p></td>
                    <td><p>New Food: {{ foodtrans.current_food }} 100%</p></td>
                </tr>
            </table>
        </div>
    </div>
</div>

<style>
    .center-cropped {
        width: 232px;
        height: 232px;
        overflow: hidden;
        position: relative;
    }

    .center-cropped img {
        width: auto;
        height: auto;
        max-width: none;
        max-height: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .permanent-marker-regular {
        font-family: 'Permanent Marker', cursive, sans-serif;
    }

    .dog-list-heading {
        text-align: center;
        margin-bottom: 30px;
    }

    .luckiest-guy-regular {
        font-family: "Luckiest Guy", cursive;
        font-weight: 400;
        font-style: normal;
        text-align: center;
        margin-bottom: 30px;
    }
</style>


{% endblock %}