{% extends 'base.html' %}
{% block content %}

<h1>Dog Food Transition Plan</h1>

<div class="card">
    <div class="card-content">
        <h2 class="card-title">{{ foodtrans.name }}</h2>
        <p><strong>{{ dogfood.kcalperserving }}</strong></p>
        <p><strong>{{ dogfood.gramperserving }}</strong></p>
        <p><strong>{{ dogfood.current_food }}</strong></p>
        <p><strong>{{ dogfood.new_food }}</strong></p>

    </div>
    <!-- <div class="card-actions">
        <a href="{% url 'dogfood_delete' dogfood.id %}" class="btn-delete">Delete</a>
        <a href="{% url 'dogfood_update' dogfood.id %}" class="btn-edit">Edit</a>
    </div> -->
</div>

{% endblock %}