{% extends 'base.html' %}
{% block content %}

<h1>Dog List</h1>

<div class="card-container">
    {% for dog in dogs %}
        <a href="{% url 'detail' foodtrans.id %}" class="card-link">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">{{ foodtrans.name }}</span>
                    <p>Name: {{ foodtrans.name }}</p>
                    <p>Current Food: {{ foodtrans.current_food}}</p>
                    <p>Meals per day: {{ foodtrans.meals_a_day}}</p>
                    <p>Start Date: {{ foodtrans.start_date }}</p>
                </div>
            </div>
        </a>
    {% endfor %}
</div>

{% endblock %}




